  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500&display=swap');
 .adjust_exe{
    height:45px;
    width: 55px;
    font-size: 1.1em;
}

.hide {
    display: none;
}

.row_adjust{
    width: 20px;
}

.login-text{
    font-size: 2.5em;
    color: #FFF;
}

.login-bg{
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
    );
}

.regist-bg {
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
    );
}

.height-navbar{
    height: 100px;
}

.login-bg-base{
background:
linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
 url(https://assets.nflxext.com/ffe/siteui/vlv3/16006346-87f9-4226-bc25-a1fb346a2b0c/589724d6-9392-45c1-81e6-f1b3399062c1/ID-en-20240115-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
height: 800px;
}

.sign-underline{
    text-decoration: none;
    list-style: none;
}

.admin_comment_form{
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.2)
    );
}

.img-profile{
   width: 150px;
    height: 150px;
    object-fit: cover;
}

#upload{
    opacity: 0;
    cursor: pointer;
   position: absolute;
}

.bg-white-profile{
    background-color: #F5F5F5;
}